.home{
	background-color: $clr-blue;
	background-image: url(../../img/Graph.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 100%;
	min-height: 1100px;
	color: #fff;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: column wrap;
	padding-top: 278px;

	&:after{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url('../../img/Grid.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	&__start-btn{
		background-color:  $clr-blue-light;
		width: 100%;
		max-width: 204px;
		height: 48px;
		border: none;
		border-radius: 24px;
		color: $clr-white;
		font-size: 18px;
		font-weight: 700;
		margin-top: 82px;
		&:active{
			background-color: rgba($clr-blue-light, 0.5);
		}
	}

	&__subtitle{
		color:  $clr-gray;
		font-size: 36px;
		font-weight: 400;
		text-align: center;
	}
}