body {
	background-color: #fff;
	// font-family: arial;
}
button{
	cursor: pointer;
}
.wrapper{
	max-width: 1500px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
}

.header__wrapper{
	width: 100%;
	padding: 67px 160px 0;
	display: flex;
	justify-content: space-between;
}


.title-style{
	font-family: 'Roboto', sans-serif;
	color:  $clr-white;
	font-size: 60px;
	font-weight: 100;
	text-align: center;
}